.contact {
    width: 95%;
    margin: 30px auto;
}

.contact h1 {
    color: white;
    margin-bottom: 30px;
}

.otherContact {
    margin-left: 50px;
    margin-top: 30px;
}

.otherContact i {
    color: white;
}

.otherContact span {
    color: white;
}

.otherContact a span{
    color: white;
}

.cbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    margin-left: 50px;
    width:450px; 
    height:250px;
}

@media screen and (max-width: 600px) {
    .contact h1 {
        font-size: 30px;
        margin: 10px auto;
        text-align: center;
    }

    .map {
        margin: 10px 15px;
        width: 320px;
        height: 200px;
    }
}